{% extends 'django_template_limitless/base.html' %}
{% load static %}
{% load i18n %}

{% block customcss %}
{% endblock %}

{% block customjs %}
    <script src="{% static "global_assets/js/main/jquery.min.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/tables/datatables/datatables.min.js" %}"></script>

    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('#all_cpes').DataTable({
                pageLength: 10,
                order: [[1, "asc"]]
            });
        });

        $(document).on('hidden', "#modal-content", function(){
            $("#modal-content").removeData("modal-content");
        });

        $(document).on('click', "a[data-toggle=modal]", function(){
            var target = $(this).attr("href");

            $.get(target, function(data){
                $("#modal-content").html(data);
                $("#modal-content").modal("show");
            });

            return false;
        });
    </script>
{% endblock %}

{% block heading-elements %}
    <br>
    <a href="/ispstack/cpes/create" class="btn bg-blue float-right mx-1" data-toggle="modal" data-target="#modal">{% trans "New CPE" %}</a>
    <br><br><br>
{% endblock %}

{% block content %}
    <div class="card card-body shadow-lg">
        <table id="all_cpes" class="table table-striped table-bordered nowrap">
            <thead>
            <tr>
                <th>{% trans "ID" %}</th>
                <th>{% trans "Contract No." %}</th>
                <th>{% trans "Location" %}</th>
                <th>{% trans "Last Logon" %}</th>
                <th>{% trans "Edit" %}</th>
                <th>{% trans "Delete" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for cpe in all_cpes %}
                <tr>
                    <td>{{ cpe.id }}</td>
                    <td>{{ cpe.contract }}</td>
                    <td>{{ cpe.location }}</td>
                    <td>{{ cpe.last_logon }}</td>
                    <td><a href="/ispstack/cpe/{{ cpe.id }}"><i class="icon-database-edit2"></i></a></td>
                    <td><a href="/ispstack/cpe/{{ cpe.id }}/delete" data-toggle="modal" data-target="#modal"><i
                            class="icon-database-edit2"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="modal-content" class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}
